<div class="container background" fxLayout="row">
  <div fxLayout="column" fxFlex="100%">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100%">
        <img src="../../assets/img/TeamDev-logo.png" alt="invalid pic">
      </div>
    </div>
    <div fxLayout="row">

    </div>
  </div>
</div>
<div style="margin-top:20px" class="container" fxLayoutAlign="center" fxLayout="row">

</div>
<div class="container" fxLayoutAlign="center" fxLayout="row" fxLayoutGap="10px">
  <div class="container" fxLayout="column">
    <a routerLink="/team" id="start" mat-raised-button color="primary">Kollegen stalken!</a>
  </div>
</div>