<div style="height:100%;" fxLayout="column">
  <div class="container background">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
        <div fxLayoutAlign="center" *ngIf="users">
          <div class="avatar" *ngFor="let user of users">
            <img src="{{user.AvatarLinkHead}}" alt="invalid pic">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxFlex="auto">
      <app-list-user fxFlexOffset="3em" fxLayoutAlign="center start" *ngFor="let user of users" [user]="user" [intersector]="intersector"></app-list-user>
      <div style="margin-top: 300px;">&nbsp;</div>
    </div>
  </div>
  <div #intersector style="position: fixed; top: 50vh; left: 50vw; width: 1px; height: 1px"></div>
</div>