<div class="container" fxLayout="column">
  <div fxLayoutAlign="center end" fxFlex="40%">
    <mat-card class="example-card">

      <div fxLayout="column">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ currentUser.FirstName }}</mat-card-title>
          <mat-card-subtitle>{{ currentUser.LastName }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <div fxLayout="row" fxLayout.xs="column">
              <ngx-avatar src="../../assets/img/{{currentUser.image}}" [round]="false" size="250" name="{{ currentUser.FirstName }} {{ currentUser.LastName }}"></ngx-avatar>
              <div fxLayout="column">
                  <fieldset class="rating">
                      <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                      <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
          
                      <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                      <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
          
                      <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                      <label title="Meh" (click)='onClick(3)'>3 stars</label>
          
                      <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                      <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>
          
                      <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                      <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
                    </fieldset>
                    <fieldset class="rating">
                      <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                      <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
          
                      <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                      <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
          
                      <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                      <label title="Meh" (click)='onClick(3)'>3 stars</label>
          
                      <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                      <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>
          
                      <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                      <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
                    </fieldset>
                    <fieldset class="rating">
                      <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                      <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
          
                      <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                      <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
          
                      <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                      <label title="Meh" (click)='onClick(3)'>3 stars</label>
          
                      <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                      <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>
          
                      <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                      <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
                    </fieldset>
                    <fieldset class="rating">
                      <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                      <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
          
                      <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                      <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
          
                      <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                      <label title="Meh" (click)='onClick(3)'>3 stars</label>
          
                      <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                      <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>
          
                      <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                      <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
                    </fieldset>
                    <fieldset class="rating">
                      <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                      <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
          
                      <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                      <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
          
                      <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                      <label title="Meh" (click)='onClick(3)'>3 stars</label>
          
                      <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                      <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>
          
                      <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                      <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
                    </fieldset>
              </div>
          </div>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
      </div>

    </mat-card>
    <!-- <ngx-avatar [round]="false" size="250" name="Lukas Anetsberger" ></ngx-avatar> -->
  </div>
  <div fxFlex="30%">
    <div fxLayoutAlign="end center" #carousel class="carousel">
      <a class="carousel-item" *ngIf="!users" style="display:none">
        <div>&nbsp;</div>
      </a>
      <app-carousel-item (avatarClicked)="avatarClicked($event)" class="carousel-item" [user]="user" *ngFor="let user of users"></app-carousel-item>
    </div>
  </div>
</div>
