<mat-toolbar>
  <mat-toolbar-row>
    <h1>{{ title }}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" fxLayout="row">
  <div class="container" fxFlex="33%" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px"></div>
  <div class="container middle" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
    <div class="item" *ngFor="let user of users">
      <ngx-avatar size="100" name="{{ user.FirstName }} {{ user.LastName }}"></ngx-avatar>
    </div>
  </div>
  <div class="container" fxFlex="33" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px"></div>  
</div>
<div style="margin-top:20px" class="container" fxLayoutAlign="center" fxLayout="row" fxLayoutGap="10px">
  <button mat-raised-button color="primary">Let's go!</button>
</div>





