/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif }
.ng-lazyloaded { 
    animation: blur .5s;
}
@keyframes blur {
    from { filter: blur(3px) }
    to   { filter: blur(0px) }
}