<div class="container background" fxLayout="row">
  <div fxLayout="column" fxFlex="100%">
    <div fxLayoutAlign="center" *ngIf="users">
      <div class="avatar" *ngFor="let user of users">
        <img src="{{user.AvatarLinkHead}}" alt="invalid pic">
      </div>
    </div>
  </div>
</div>
<div *ngFor="let user of users, let i = index" fxLayout="row">
  <div fxLayout="column" fxFlex="100%">
    <div fxFlexOffset="3em" fxLayoutAlign="center start">
      <mat-card style="min-width: 50%; max-width: 50%">
        <mat-card-content>
          <div class="bg-image" [ngClass]="{'office1': getImageBackgroundClassIndex(i), 'office2': !getImageBackgroundClassIndex(i)}"></div>
          <div class="card-content" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="30">
              <img mat-card-image style="min-width:18em; min-height: 30em; max-width:100%;" src="{{user.AvatarLinkFashion}}" alt="invalid pic">
            </div>
            <div fxFlexOffset="10em" fxFlexOffset.xs="0em" fxLayoutAlign="center start" fxFlex="70">
              <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxLayoutAlign="center">
                  <button mat-button>#läuftbeimir</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                  <button mat-button>#CoolerTyp</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center stretch">
                  <mat-chip-list>
                    <mat-chip *ngFor="let attribute of user.Attributes" [selected]="attribute.active">#{{attribute.text}}</mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>