<div >
    <div fxLayout="column" fxFlex="40%">
        <form>
            <div class="form-group">
                <label for="style">Style</label>
                <mat-radio-group name="style" [(ngModel)]="style" (change)="styleChanged()">
                    <mat-radio-button *ngFor="let style of listStyles; let i=index" [value]="i">{{style[0]}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <mat-radio-group name="gender" [(ngModel)]="gender" (change)="genderChanged()">
                    <mat-radio-button *ngFor="let gender of listGenders; let i=index" [value]="i">{{gender[0]}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <mat-radio-group name="brand" [(ngModel)]="brand" (change)="brandChanged()">
                    <mat-radio-button *ngFor="let brand of listBrands; let i=index" [value]="i">{{brand.name}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group">
                <label for="outfit">Outfit</label>
                <mat-radio-group name="outfit" [(ngModel)]="outfit">
                    <mat-radio-button *ngFor="let outfit of listOutfits" [value]="outfit.id">{{outfit.outfit}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group" *ngFor="let trait of listTraits; let i=index">
                <label for="trait.key">{{trait.key}}</label>
                <app-array-slider [values]="trait.options" [(current)]="traits[i][1]" field="value"></app-array-slider>

                <!--<mat-radio-group name="{{trait.key}}" [(ngModel)]="traits[i][1]">
                    <mat-radio-button *ngFor="let option of trait.options" [value]="option.value">{{option.value}}</mat-radio-button>
                </mat-radio-group>-->
            </div>
        </form>
    </div>
    <div fxLayout="column" fxFlex="40%">
        <app-bitmoji 
            [pose]="pose"
            [scale]="scale"
            [gender]="gender"
            [style]="style"
            [rotation]="rotation"
            [traits]="traits"
            [outfit]="outfit"
            ></app-bitmoji>
        <div class="form-group">
            <label for="pose">Pose</label>
            <mat-radio-group name="pose" [(ngModel)]="pose">
                <mat-radio-button *ngFor="let pose of listPoses" [value]="pose">{{pose}}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>